<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	 http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

	<!-- Scan -->
	<context:component-scan base-package="org.cdx" use-default-filters="true">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<!-- Data Source -->
	<bean id="dataSourceMaster" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/wishingwell" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<bean id="dataSourceReplica" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/wishingwell" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<!-- multi data source config start -->
    <bean id="dataSource" class="org.cdx.ww.datasource.RoutingDataSource">
	    <property name="targetDataSources">
	        <map key-type="java.lang.String">
	            <entry key="MASTER" value-ref="dataSourceMaster"></entry>
	            <entry key="REPLICA" value-ref="dataSourceReplica"></entry>
	        </map>
	    </property>
	    <property name="defaultTargetDataSource" ref="dataSourceMaster" />
	</bean>
	<!-- multi data source config end -->

	<!-- transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- enable transaction demarcation with annotations -->
	<tx:annotation-driven />

	<!-- MyBatis SqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:org/cdx/ww/dao/**/*Mapper.xml"/>
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml" />
		<!-- An alternative way to configure mybatis configuration -->
		<!-- <property name="configuration">	
		    <bean class="org.apache.ibatis.session.Configuration">
		      <property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl" />
		    </bean>
		</property> -->
	</bean>

	<!-- <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="org.cdx.ww.dao.UserMapper" /> <property 
		name="sqlSessionFactory" ref="sqlSessionFactory" /> </bean> -->

	<!-- MyBastic Mapper Scanner -->
	<!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.cdx.ww" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
	</bean> -->
	<mybatis:scan base-package="org.cdx.ww" factory-ref="sqlSessionFactory" annotation="org.springframework.stereotype.Repository" />

	<!-- Enable aop annotation -->
    <aop:aspectj-autoproxy />

</beans>